* {
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}

body {
    margin: 0;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    background-image: url(/images/pixelbg.png);
    opacity: ;
}
main {
    display: grid;
}

h1 {
   font-size: 3em; 
}

#message {
    font-size: 2em;
    margin-bottom: 5%;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center{
    
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 35vmin, 15vmin, 35vmin, 15vmin,;
    grid-template-rows: 35vmin, 15vmin, 35vmin 15vmin;
}

#keyboard > p {
    font-size: 30px;
}


.letter{
    display: block;
    color: black;
    background-color: rgb(177, 214, 246);
    font-size: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    max-width: 50px;
    padding: 5px 10px 5px 10px;
    /* text-align: end; */
}

.letter:hover {
    background-color: rgb(210, 166, 166);
    cursor: pointer;
}

#keyboard {
    background-color: rgb(130, 181, 206);
    flex-wrap: wrap;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1%;
    height: ;
}


button {
    background-color: rgb(167, 196, 216);
    position:inherit;
}

button:hover {
    background-color: red;
    transform: scale(1.1);
}


#guess {
    color: black;
    font-size: 4em;
    letter-spacing: 1em;
    width: 100%;
    /* display:block;     */
    align-items: center;
    justify-content: center;
}

#spaceman {
    max-height: 50%;
    margin-top: 10%;
}
/* this is a reference keyboard VVVVV */
/* .keyboard {
    max-width: 1085px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(5, 60px);
    grid-gap: 5px;
}


.letter {
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 5px;
    grid-column: span 2;
    font-size: 20px;
    text-align: center;
    padding-top: 17px;
} */