* {
    box-sizing: border-box;
    font-family: 'Silkscreen', cursive;
}

body {
    /* display: grid; */
    color: greenyellow;
    margin: 15% 0% 15% 0%;
    height: 100vh;
    flex-direction: column;
    background-image: url(https://brennanp93.github.io/SpaceMan/images/pixelbg.png);
    background-size: cover;
    /* grid-template-columns: 1fr, 1fr; 
    grid-template-rows: 1fr, 1fr; */
}

h1 {
   font-size: 4em; 
   /* margin-top: 10%; */
}

#message {
    font-size: 2em;
    /* margin-bottom: 5%; */
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 35vmin, 15vmin, 35vmin, 15vmin,;
    grid-template-rows: 35vmin, 15vmin, 35vmin 15vmin; */
    /* grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr; */
}

#keyboard > p {
    font-size: 30px;
    padding: 10px 10px 10px;
}


.letter{
    /* display: block; */
    color: greenyellow;
    background-color: black;
    font-size: 20px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    width: 50px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    /* text-align: end; */
}

.letter:hover {
    background-color: greenyellow;
    color: black;
    border-color: black;
    cursor: pointer;
}

#keyboard {
    /* background-color: rgb(235, 229, 229); */
    background-color: rgba(0, 0, 0, 0.531);
    flex-wrap: wrap;
    border-style: dashed;
    border-color: yellowgreen;
    border-width: 5px;
    padding: 5px;
    padding-bottom: ;
    margin-top: 1%;
   
}


button {
    display: flex;
    font-size: 2em;
    background-color: black;
    color: greenyellow;
    position:inherit;
    margin-bottom: 10%;
    margin-top: 10px;
    width: 150px;
    border-style: dashed;
    border-width: 5px;
    border-color: yellowgreen;
    
}

button:hover {
    background-color: red;
    transform: scale(1.1);
}


#guess {
    color: white;
    font-size: 4em;
    letter-spacing: 1em;
    width: 100%;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 5%;
    /* background-color: rgb(235, 229, 229); */
    background-image: url(/images/ufo.001.png);
    /* border-radius: 50%;     */
}

#spaceman {
    max-height: 50%;
    margin-top: 5%;
}
